body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0b6623;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:40px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

h1{
    color:#0b6623;
}

button{
    padding:12px 30px;
    font-size:18px;
    background:#28a745;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#218838;
}
