<!DOCTYPE html>
<html>
<head>
    <title>Hand Cricket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>🏏 Hand Cricket</h1>

    <h2>Score: {{ score }}</h2>

    <p>Select your run</p>

    <div class="buttons">
        <button>0</button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
        <button>6</button>
    </div>

</div>

</body>
</html>
