<!DOCTYPE html>
<html>
<head>
    <title>Hand Cricket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>🏏 Hand Cricket</h1>

    <h2>Score: {{ score }}</h2>

    <h3>Computer : {{ computer }}</h3>

    <p>{{ message }}</p>

    <div class="buttons">
        {% for i in range(7) %}
            <a href = "/play/{{ i }}">
                <button>{{ i }}</button>
            </a>
        {% endfor %}

    </div>

</div>

</body>
</html>
